@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="text"],
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
    }
}
