name: CI/CD Workflow

on:
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Go environment
      uses: actions/setup-go@v2
      with:
        go-version: '1.25'

    - name: setup
      run: |
        go mod download
        npm install
        go get -tool github.com/a-h/templ/cmd/templ@latest
        make build

    - name: test
      run: |
        go test ./...

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        COMMIT_SHA=${GITHUB_SHA::7}
        IMAGE_NAME=ghcr.io/bensuskins/pubgolf-backend

        docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$COMMIT_SHA .
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:$COMMIT_SHA
